/*
sass --watch main.scss:main.min.css --style compressed
*/

$correct-dark: #00695c;
$correct-light: #dffdfa;
$must-dark: #ff8f00;
$must-light: #fcedda;
$ignore-dark: #e53935;
$ignore-light: #ffe9e9;

input:focus, textarea:focus, select:focus{
  outline: none;
}

#app {
  background-color: #eee;
}

.input {
  text-align: center;
  border: 3px solid rgb(172, 172, 172);
  background-color: #fff;
  color: rgb(136, 136, 136);
  padding: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 30px;
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  margin-left: 5px;

  &:hover {
    cursor: text;
    opacity: 0.6;
  }

  &.focus{
    border-bottom-width: 7px;
  }

  &.input-correct {
    border-color: $correct-dark;
    color: $correct-dark;
    background-color: $correct-light;
    
  }

  &.input-must {
    border-color: $must-dark;
    color: $must-dark;
    background-color: $must-light;
  }

  &.input-ignore {
    border-color: $ignore-dark;
    color: $ignore-dark;
    background-color: $ignore-light;
  }  
}

.keyboard-container {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 2px rgb(82, 82, 82);
  padding-bottom: 20px;
}

.keyboard {
  background-color: rgb(228 228 228);
  color: rgb(149 149 149) !important;
  border: 2px solid rgb(149 149 149);
  padding: 5px 10px;
  width: 76px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 15px;
  line-height: 35px;
  text-transform: uppercase;
  margin-right: 2px;
  margin-bottom: 2px;

  &:hover {
    opacity: 0.6;
  }

  &.keyboard-correct {
    background-color: $correct-light;
    color: $correct-dark !important;
    border: 2px solid $correct-dark;
  }

  &.keyboard-must {
    background-color: $must-light;
    color: $must-dark !important;
    border: 2px solid $must-dark;
  }

  &.keyboard-ignore {
    background-color: $ignore-light;
    color: $ignore-dark !important;
    border: 2px solid $ignore-dark;
  }

  &.green {
    background-color: #00695c;
    color: #fff !important;
    border: 2px solid #002c28;
  }

  &.dark {
    background-color: rgb(207, 207, 207);
    color: #fff !important;
  }

  &.help i {
    text-transform: none;
    font-size: 17px;
  }
}

.bmc-btn {
  min-width: 210px;
  color: #000000 !important;
  background-color: #ffdd00 !important;
  height: 60px;
  border-radius: 12px;
  font-size: 24px;
  font-weight: Bold;
  border: none;
  padding: 0px 24px;
  line-height: 27px;
  text-decoration: none !important;
  display: inline-flex !important;
  align-items: center;
  font-family: "Bree Serif", cursive !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

.bmc-btn-text {
  margin-left: -8px;
  display: inline-block;
  line-height: 0;
  width: 100%;
  flex-shrink: 0;
}

.pre-copy {
  border: 2px solid #8d8d8d;
  background: #dbdbdb;
  padding: 20px;
  width: 506px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

#wordsAds{
  height: 130px; 
  margin-bottom: 10px; 
  width: 500px; 
  margin-left: auto;
  margin-right: auto;
}

[v-cloak] > * { display:none; }
[v-cloak]::before { 
  content: " ";
  display: block;
  width: 16px;
  height: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  background-image: url('data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==');
}

@media only screen and (max-width: 600px) {
  .correct-letter {
    font-size: 40px;
    width: 50px;
    height: 50px;
  }

  .keyboard {
    font-size: 19px;
    line-height: 42px;
    padding: 4px 7px;
  }

  #wordsAds{
    height: 106px;  
    width: 331px; 
  }
}

@media only screen and (min-width: 1400px) {
  .keyboard {
    font-size: 30px;
    line-height: 52px;
    padding: 5px 20px;
  }

  .input{
    width: 80px;
    height: 80px;
    font-size: 60px;
  }
}
