.input {
  text-align: center;
  border: 3px solid rgb(172, 172, 172);
  background-color: #fff;
  color: rgb(136, 136, 136);
  padding: 5px;
  border-radius: 5px;
  text-transform: uppercase;
}

.correct-letter {
  font-size: 40px;
  display: block;
  float: left;
  width: 80px;
  height: 80px;
  margin-left: 5px;
}

.input:hover {
  cursor: text;
}

.input:hover,
.keyboard:hover {
  opacity: 0.6;
}

.input.focus {
  border-color: #00695c;
  background-color: #dffdfa;
}

.input.ignore,
.input.must {
  height: 50px;
}

.input.ignore .keyboard,
.input.must .keyboard {
  height: 50px;
  font-size: 20px;
  line-height: 33px;
  padding: 5px 10px;
  margin-right: 5px;
}

.input.focus-ignore {
  border-color: #e53935;
  background-color: #ffe9e9;
}

.input.focus-must {
  border-color: #ff8f00;
  background-color: #fcedda;
}

.keyboard {
  background-color: rgb(228 228 228);
  color: rgb(149 149 149) !important;
  padding: 5px 20px;
  width: 76px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 30px;
  line-height: 53px;
  text-transform: uppercase;
  margin-right: 2px;
}

.keyboard.ignore {
  background-color: #e53935;
  color: #fff !important;
}

.keyboard.match {
  background-color: #00695c;
  color: #fff !important;
}

.keyboard.must {
  background-color: #ff8f00;
  color: #fff !important;
}

.keyboard.green {
  background-color: #00695c;
  color: #fff !important;
}

.keyboard.dark {
  background-color: rgb(207, 207, 207);
  color: #fff !important;
}

.keyboard.help i {
  text-transform: none;
  font-size: 17px;
}

@media only screen and (max-width: 600px) {
  .correct-letter {
    font-size: 40px;
    width: 50px;
    height: 50px;
  }

  .keyboard {
    font-size: 23px;
    line-height: 42px;
    padding: 5px 8px;
  }

  .input.ignore .keyboard,
  .input.must .keyboard {
    font-size: 15px;
    line-height: 20px;
    padding: 5px 6px;
    margin-right: 5px;
  }

  .input.ignore,
  .input.must {
    height: 39px;
    margin-right: 2px;
  }
}
